#container{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
#btn-container{
    display: flex;
    flex-direction: row;
}
#input-container{
    display: flex;
    flex-direction: column;
    width:100px;
}
button{
    margin: 8px;
    max-height: 50px;
    position: relative;
    top: 40px;
}
input{
    margin: 8px;
    min-height: 30px;
    position: relative;
    top: 10px;
}